@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--navigation bar-->
<div id="nav-bar" style="position: sticky">
    <ul style="position: sticky">
        <li><a href="index.cshtml">Home</a></li>
        <li><a href="">Animals</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Merch Store</a></li>
        <li><a href="">My Account</a></li>
    </ul> 
</div>
