@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--navigation bar-->
<ul style="position: sticky; display: flex; padding: 10px; background-color: lightsalmon;">
    <li style="padding: 15px; font-size: 20px; display: flex;"><a href="index.cshtml">Home</a></li>
    <li style="padding: 15px; font-size: 20px; display: flex;"><a href="">Animals</a></li>
    <li style="padding: 15px; font-size: 20px; display: flex;"><a href="">Events</a></li>
    <li style="padding: 15px; font-size: 20px; display: flex;"><a href="">Merch Store</a></li>
    <li style="padding: 15px; font-size: 20px; display: flex;"><a href="">My Account</a></li>
</ul> 

